<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Importados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item> 
    <ion-img src="../assets/Img/lambor.jpg"></ion-img>
    Lamborguini 
  </ion-item>
  <ion-item>
    <ion-img src="../assets/Img/lambor.jpg"></ion-img>
    Masseratti
  </ion-item>
  <ion-item> 
    <ion-img src="../assets/Img/lambor.jpg"></ion-img>
     Ferrari
  </ion-item>
</ion-list>

</ion-content>
